<section id="viewAddCar">
    <div class="add-form">
        <h2>Добавяне на нова обява</h2>
        <form action="/add" method="post" id="formAddBike" class="row gy-2 gx-3 align-items-center">
            <label for="description">Описание:</label>
            <textarea name="description" id="description" cols="30" rows="5"></textarea>
            <label for="price">Цена за час:</label>
            <input type="text" id="price" name="price">
            <label for="imageUrl">Снимка:</label>
            <input type="text" id="imageUrl" name="imageUrl" placeholder="https://">
            <label for="region">Регион:</label>
            <select name="region" id="region">
                <option selected disabled>Избери регион</option>
                {{#each regions}}
                {{>regionElement}}
                {{/each}}
            </select>
            <input type="submit" class="create" value="Добави">
        </form>
    </div>
</section>