<section id="viewAddBrand">
    <h2>Add brands</h2>
    <form action="/add/brand" method="post" id="viewAddBrand">
        <label for="brand">Car brand:</label>
        <input type="text" id="brand" name="brand" placeholder="Brand name">
        <input type="submit" class="create" value="Add">
    </form>
</section>