<section id="viewAddPhoto">
    <h2>Edit car</h2>
    <form action="/edit/{{carId}}" method="POST" id="formAddPhoto">
        <label for="photo">Main image:</label>
        <input type="text" id="ImageUrl" name="imageUrl" placeholder="Image URL">
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" placeholder="Price">
        <input type="submit" class="create" value="Save">
        <a href="" class="remove">Cancel</a>
    </form>
</section>