<section id="viewAddPhoto">
    <h2>Профилно Изображение</h2>
    <form action="/profile/edit/{{userId}}" method="POST" id="formAddPhoto">
        <input type="text" id="profileImg" name="profileImg" placeholder="https://">
        <input type="submit" class="create" value="Запази">
        <a href="/profile/{{userId}}" class="remove">Откажи</a>
    </form>
</section>