<section id="viewAddPhoto">
    <h2>Качи снимка</h2>
    <form action="/profile/edit/{{userId}}" method="POST" id="formAddPhoto">
        <label for="photo">Профилна снимка:</label>
        <input type="text" id="profileImg" name="profileImg" placeholder="Image URL">
        <input type="submit" class="create" value="Запази">
        <a href="/profile/{{userId}}" class="remove">Откажи</a>
    </form>
</section>