<section id="viewAddRegion">
    <h2>Добавяне на регион:</h2>
    <form action="/add/region" method="post" id="viewAddRegion">
        <label for="region">Регион:</label>
        <input type="text" id="region" name="region">
        <input type="submit" class="create" value="Добави">
    </form>
</section>